html,body 
    width 100%
    height 100%

* 
    margin 0
    padding 0
body 
    background-image url('../images/889915135aaddf75ac988f20bf7db8e5.jpg')
    background-size cover
    background-position top center
    font 14px 'microsoft yahei'
    color '#4d4d4d'
    font-weight 300